:root {
  --primaria: #f28d16;
  --secundaria: #9a1c1c;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
}

.content {
  display: flex;
}

.container {
  padding: 1rem;
}