.card-note__header {
    display: flex;
    justify-content: space-between;
}

.card-note__title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-note__categorie {
    background-color: #ffbb00;
    border-radius: 4px;
    color: white;
    height: 1em;
    font-size: small;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .3rem;
    transform: translateY(-3px);
}


.card-note__text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-note__delete {
    cursor: pointer;
    height: 1em;
    margin-left: 3px;
}